In [52]:
pwd

'/Users/aashishchilwal/Desktop/group32-project/data/raw'

In [53]:
import pandas as pd

df = pd.read_csv('outbreaks.csv')
df.head()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0

In [54]:
print(df.shape)

(19119, 12)

In [55]:
df.count()

Year                 19119
Month                19119
State                19119
Location             16953
Food                 10156
Ingredient            1876
Species              12500
Serotype/Genotype     3907
Status               12500
Illnesses            19119
Hospitalizations     15494
Fatalities           15518
dtype: int64

In [56]:
# Droping all the non existing values.
processed_df = df.dropna(axis=0)
print(processed_df.shape)

(420, 12)

In [71]:
# Replacing strings to numbers
# Strings include: Months, Places (0: food prepared outside, 1: food prepared at private residence), 
#Type of virus etc (0: Salmonella enterica, 1:Escherichia coli, Shiga toxin-producing).

replacement = {"January" : 1, "February":2,"March":3, "April" : 4, "May":5, "June":6,
               "July": 7, "August":8, "September":9,"October":10,"November":11,"December" :12,
               "Confirmed": 1,"Suspected": 0,"Confirmed; Confirmed" : 1,"Suspected; Suspected" : 0, 
               "Suspected; Confirmed" : 0, "Confirmed; Suspected" : 0, "Fast Food Restaurant" : 0, "Restaurant":0,
               "Catering Service" : 0, "Religious Facility" : 0, "Grocery Store" : 0, "Prison/Jail" : 0, "Fair/Festival" : 0,
               "Private Home/Residence" : 1, "Camp": 1, "School/College/University" :1, "Nursing Home/Assisted Living Facility" : 1,
               "Unknown" : 1, "Private Home/Restuarant; Religious Facility" : 2, "Private Home/Restuarant; Grocery Store" : 2, 
               "Restaurant; Private Home/Residence": 0, "Private Home/Residence; Catering Service" : 0, 
               "Restaurant; Nursing Home/Assisted Living Facility" : 0, "Restaurant; Grocery Store": 0,
               "Restaurant; Catering Service":0, "Private Home/Residence; Banquet Facility" : 0, "Restaurant; Banquet Facility" : 0,
               "Restaurant Buffet" :0,"Banquet Facility" :0, "Restaurant; School/College/University":0,"Salmonella enterica" : 0, 
               "Salmonella enterica; Salmonella enterica" : 0, "Norovirus genogroup I; Norovirus genogroup II" : 2, "Norovirus genogroup I": 2,
                "Escherichia coli, Shiga toxin-producing" : 1, "Norovirus genogroup II" : 2}
 
processed_df2 = processed_df.replace(replacement)
processed_df2

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
638,1998,6,New York,1,"Chicken, Unspecified",Chicken,0,Typhimurium,1,4,3.0,0.0
669,1998,7,Arizona,0,Chile Rellenos,Egg,0,Enteritidis,1,58,11.0,0.0
955,1998,9,Maryland,0,"Multiple Cheeses, Unspecified",Cheese,2,1,1,258,4.0,0.0
1319,1999,1,California,0,Eggs Benedict,Egg,0,Enteritidis,1,3,0.0,0.0
1321,1999,1,California,0,"Chile Relleno, Unspecified; Rice, Yellow",Egg; Egg,0,Enteritidis,1,31,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19012,2015,11,Tennessee,0,Hamburger,Ground Beef,1,O157:H7,1,13,0.0,0.0
19014,2015,11,Utah,0,"Eggs, Scrambled",Egg,0,Enteritidis,1,3,0.0,0.0
19045,2015,12,Connecticut,0,Cucumbers,Cucumber,0,Thompson,1,3,0.0,0.0
19068,2015,12,Michigan,1,Cake,Frosting/Icing,2,GII_17 Kawasaki (2014),1,73,0.0,0.0
19081,2015,12,Multistate,1,Powder Meal Replacement,Moringa Leaf Powder,0,Virchow,1,35,6.0,0.0

In [58]:
processed_df2.count()

Year                 420
Month                420
State                420
Location             420
Food                 420
Ingredient           420
Species              420
Serotype/Genotype    420
Status               420
Illnesses            420
Hospitalizations     420
Fatalities           420
dtype: int64

In [73]:
processed_df2.to_csv('Processed_data.csv')