In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
Plt1 = pd.DataFrame([
    ['1',8, 15],
    ['2',5, 17],
    ['3',13, 13],
    ['4',9, 20],
    ['5',12, 26],
    ['6',12, 29],
    ['7',25, 31],
    ['8',16, 27],
    ['9',12, 21],
    ['10',8, 20],
    ['11',9, 15],
    ['12',7, 17],
],columns=['Months','Home made', 'Prepared outside'])

Plt1

   Months  Home made  Prepared outside
0       1          8                15
1       2          5                17
2       3         13                13
3       4          9                20
4       5         12                26
5       6         12                29
6       7         25                31
7       8         16                27
8       9         12                21
9      10          8                20
10     11          9                15
11     12          7                17

In [3]:
Plt1.to_csv('Tableau_data.csv')